# Home Assistant Add-on: Plexlog

This add-on is a Plexlog integration for Home Assistant.

## Requirements
    - Plexlog User Account with a Dashboard
    - The Dashboard ID of your Plexlog Dashboard
    - A MQTT Server


